<div class="mainDiv">
  <div class="row formSection">
    <div class="col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-12">
          <h2>Courses Registration</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <mat-form-field appearance="fill" [style.width.%]=75>
            <mat-label>Course Name</mat-label>
            <input matInput [(ngModel)]="courseName" #txtCourseName>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <mat-form-field appearance="fill" [style.width.%]=75>
            <mat-label>Course Duration</mat-label>
            <input matInput [(ngModel)]="courseDuration">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center pb-5">
          <button mat-stroked-button (click)="saveNewCourse()" class="btn-block btn-register button" [style.width.%]=50>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

